
<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Sidebar</h3>
    <ul class="nav nav-list">
      <!-- <li class="nav-header">Sidebar</li> -->
      <li><%= link_to "Questions", questions_path %></li>
      <li><%= link_to "Users", users_path  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
